.grecaptcha-badge {
	z-index: 1234;
	opacity: 0.8;
}

.grecaptcha-badge, .rc-anchor-normal-footer, .rc-anchor-pt, .rc-anchor-pt a, .rc-anchor-invisible-text, smalltext {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
